body{
  background-image: url(cv5.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bloc1{
float: left;
background: #010000;
opacity: 1;
border-radius: 15px;
color:#66A0B8;
text-align:left;
text-shadow: #FCFDFF 1px 1px, #FCFDFF -1px 1px, #FCFDFF -1px -1px, #FCFDFF 1px -1px;
margin-left: 10px;
margin-right: 10px;
padding-right: 15px;
padding-left: 15px;
border: 3px solid #4D6F7F;
box-shadow: 6px 6px 6px black;
text-shadow: #FFFFFF 1px 1px, #FFFFFF -1px 1px, #FFFFFF -1px -1px, #FFFFFF 1px -1px;
}
img{
float: right;
margin-right:10px;
margin-top: 0px;
border: 3px solid white;
width: 10%;
height: 175px;
box-shadow: 6px 6px 6px black;
border-radius: 15px;
}
.intitule{
  animation-duration: 10s;
  animation-name: slideinright;
  animation-iteration-count: 1;
  animation-direction: alternate;
  color:#37708B;
  box-shadow:6px 6px 6px black;
  text-align: center;
  border: 3px solid #4D6F7F;
  margin-top: 150px;
  font-size: 40px;
  text-shadow: #D5DEE3 1px 1px, #D5DEE3 -1px 1px, #D5DEE3 -1px -1px, #D5DEE3 1px -1px;
  text-shadow: 3px 3px 5px white;
  float: left;
  background: #FAFAF9;
  opacity: 0.6;
  border-radius: 15px;
  width:50%;
  margin-left: 65px;
}
@keyframes slideinright {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.texte1{
padding-top: 00px;
color: #BEDCE7;
margin-left: 65px;
animation-duration: 6s;
animation-name: slideinright;
animation-iteration-count: 1;
animation-direction: alternate;
text-align: left;
margin-top: 100px;
text-shadow: #D5DEE3 1px 1px, #D5DEE3 -1px 1px, #D5DEE3 -1px -1px, #D5DEE3 1px -1px;
text-shadow: 3px 3px 5px black;
border: 3px solid #4D6F7F;
width: 90%;
float: left;
background: whitesmoke;
opacity: 0.7;
border-radius: 15px;
}
@keyframes slideinleft {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}
.texte2{
  width: 100%;
}
.A{
  width: 33%;
  float: left;
}
.texte3{
  width: 100%;
  clear: both;
}
.B{
  width: 85%;
  text-align: center;
}
h2{
text-decoration : underline;
text-shadow: #131433 1px 1px, #131433 -1px 1px, #131433 -1px -1px, #131433 1px -1px;
padding-left: 70px;
}
.adresse{
  margin-top: 7px;
  text-shadow: 2px 2px 4px white;
  text-shadow: #FFFFFF 1px 1px,  #FFFFFF-1px 1px, #FFFFFF -1px -1px, #FFFFFF 1px -1px;
}
.nom{
  margin-bottom: 0px;
}
.perso_ul{
 list-style-type: none;
 text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
 }
 .clear{
     clear: both;
 }
